# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*$py.class


# =====================
# Virtual Environment
# =====================

venv/
.venv/
env/


# =====================
# Environment Variables
# =====================

.env
.env.*


# =====================
# Database
# =====================

*.db
*.sqlite
*.sqlite3


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# Logs
# =====================

*.log


# =====================
# OS
# =====================

.DS_Store
Thumbs.db